@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  transition: all 0.2s ease-in-out;
}
.btn {
    @apply py-2 px-4 font-semibold rounded-lg shadow-md capitalize;
  }
.btn-green {
    @apply text-white bg-green-500 hover:bg-green-700;
  }
  .btn-gray {
    @apply text-white bg-gray-500 hover:bg-gray-700;
  }
  .btn-blue {
      @apply text-white bg-blue-500 hover:bg-blue-700;
    }
    .btn-dark-blue {
      @apply text-white bg-blue-700 hover:bg-blue-500;
    }
  .btn-outline-blue{
    @apply border border-4 border-blue-500 text-blue-500;
  }

  /* navbar css */
.nav-item{
 @apply py-2 px-4 text-xl;
}
.nav-item-hover{
  @apply hover:underline;
}

.adminNavbar{
  width: 100vw;
  position: fixed;
  z-index: 1000;
}
.sidemenu{
  position: fixed;
  padding-top: 120px;
  min-height: 100vh;
  transition: all 0.2s ease-in-out;
  z-index: 900;
}

.menu{
  transform: translateX(-100%);
}
.demoNav{
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
@media (max-width: 550px){
  .demoNav{
    background-color: white;
  }
}
section{
  padding-top: 100px;
}
.decor{
  position: absolute;
  transform: rotate(-10deg);
  border-radius: 100px;
  z-index: -1;
  left: -10vw;
  overflow: hidden;
}

.overlay{
  position: fixed;
  background: black;
  opacity: 70%;
  width: 100vw;
  min-height: 100vh;
  z-index: 899;
  transition: none;
}

.mainContent{    
  padding-top: 80px;
  min-height: 100vh;
}

@media screen and (max-width: 550px) {
  .mainContent{    
      padding-top: 100px;
  }   
}
/* navbar css */
/* Section1 */
.each-slide{

}
.each-slide img{
  object-fit: cover;
  width: 100vw;
  height: 70vh;
}

.icon{
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 228, 196, 0.6);
  z-index: 100;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-next{
  right: 0;
}

.icon:hover{
  background-color: white;
  cursor: pointer;
}
/* Section1 */

/* Section2 */
.heading{
  @apply text-3xl lg:text-5xl py-3;
}

.heading2{
  @apply text-2xl lg:text-3xl py-3;
}

.para{
  @apply text-lg py-6  text-justify lg:text-center;
}
/* Section2 */

/* Contact Us */
.contactform{
  height: 70vh;
}
@media (max-width: 1024px){
  .contactform{
    height: auto;
  }
}
input[type="text"]{
  @apply px-3 py-3 placeholder-gray-300 text-gray-600 relative bg-white bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full;
}
input[type="email"]{
  @apply px-3 py-3 placeholder-gray-300 text-gray-600 relative bg-white bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full;
}
textarea{
  @apply px-3 py-3 placeholder-gray-300 text-gray-600 relative bg-white bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full;
}
.pointeronhover:hover{
  cursor: pointer;
}
/* Contact Us */

/* Gallery */
.grid-wrapper img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

/* Gallery */

.btn:hover .transformIcon{
  transform: translateX(120px);
}
.btn:hover .extraSpan{
  padding-left: 10px;
  padding-right: 10px;
}

/* Demo */
@media (max-width: 550px){
  .demoSection2 .card{
    height: 60vh;
  }
}